


div.headerone{
	color:#ffd700;
	font-family: sans-serif;
	padding: 10px 10px;
	font-size: 56px;
	text-align: center;
	bottom: 200px;
	background-color: #7B001B;
	}
div.headertwo{
	background-color: #FCEABB;
}
div.headerthree{
	background-color: #ffffff;
	float: left;
	
}
#body
{
background-color: #8B1A1A;

}


div.pedalboard{
	float: left;
	left:20px;
	top:100px;
	
	
}
div.lightpicture{
	float: right;
	right:30px;
	top: 1px;
	position: relative;
	
	
	
}
div.diagram{
	text-align: center;
	padding-bottom: 50px;	
	
}




div.mailtolink{

	position: relative;
	left: 120px;
	font-size: 42px;
	top: 5px;
	
	
}
div.orderedlist{

	text-align: center;
	font-size: 26px;
	color: #000000;
	font-style: oblique;
	list-style: inside;
	
}

div.image {
   text-align: center;
   alignment-baseline: central;
}

div.diagram{
	text-align:center;
	alignment-baseline: baseline;
}
div.sometext{
	text-align:left;
	font-family: monospace;
	font-size: large;
	font: bold;
}

table.datable{
	font-family: verdana,arial,sans-serif;
	font-size:22px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin-left: 500px;
}
table.datable th {
	padding: 0px;
	background: #d5e3e4;
	border: 1px solid #999999;
}
table.datable td {
	padding: 0px;
	background: #ebecda;
	background: -moz-linear-gradient(top,  #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebecda), color-stop(40%,#e0e0c6), color-stop(100%,#ceceb7));
	background: -webkit-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
	background: -o-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
	background: -ms-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
	background: linear-gradient(to bottom,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
	border: 1px solid #999999;
}
table a {
	color:black;
	
}




ul.topmenu{
	margin: 0 auto;
	width: 100%;
	text-align:center;
	padding:0px;
	background-color:#DC143C;
}

ul.topmenu li{
	width: 100px;
	display: inline-block;
	margin: 5px;
	padding: 1px;
	text-decoration: none;
	text-transform:uppercase;
	font-family: "Helvetica", Arial, sans-serif;
	font-size:14px;
	text-align:center;
}

ul.topmenu li a {
	text-decoration: none;
	color: #FFFFFF;
}

ul.topmenu li a:hover {
	color: #DAA520;
}
#header{
	padding: 5px;
        margin:25px;
	background-color: #7B001B;
	border-bottom:25px white;
}


